<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글 상세 조회</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center bg-light">
    <h1 class="mb-3">My Blog</h1>
    <h4 class="mb-3">블로그에 오신 것을 환영합니다.</h4>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <input type="hidden" id="article-id" th:value="*{contentdto.id}">
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1" th:text="*{contentdto.subject}"></h1>
                    <div class="text-muted fst-italic mb-2" th:text="|Posted by ${contentdto.uploader}|"></div>
                    <div class="text-muted fst-italic mb-2" th:text="|Posted on ${#temporals.format(contentdto.uploadedDate, 'yyyy-MM-dd HH:mm')}|"></div>
                </header>
                <section class="mb-5">
                    <p class="fs-5 mb-4" th:text="*{contentdto.content}"></p>
                </section>
                <p>첨부파일 목록:</p>
                <ul th:each="attachment : *{contentdto.attachmentList}">
                    <li th:text="${attachment}"></li>
                    <a th:href="@{/content/attachment/{id}(id=${attachment})}">다운로드</a>
                </ul>
                <button type="button" id="modify-btn" class="btn btn-primary btn-sm">수정</button>
                <button type="button" id="delete-btn" class="btn btn-secondary btn-sm">삭제</button>
            </article>
        </div>
    </div>
</div>
<script>
    document.getElementById("delete-btn").addEventListener("click", (ev) => {
        fetch("/content/[[${contentdto.id}]]", { method: "DELETE" }).then(y => { y.json().then(sd => { window.location.replace("/posts/all") }) });
    })
    document.getElementById("modify-btn").addEventListener("click", (ev) => {
        window.location.replace("/edit-post?id=[[${contentdto.id}]]");
    })
</script>
</body>
</html>